
<div class="container" id="container">
    <ion-header-bar class="bar-energized">
      <h1 class="title">User Profile</h1>
    </ion-header-bar>
    <ion-content>
    <div class="card">
      <div class="item item-divider" id="private_lists">
        Completed Tasks
        <div>
          <completed-task ng-repeat="(assignmentId, task) in assignments"></completed-task>
       </div>
      </div>

      <div class="item item-divider" id="private_lists">
        <br>
        Suggest a New Task?
        <div>
          <form>
            <br>
            <p>Task Name</p>
            <input type="text" placeholder="Task Name">
            <p> Task Description </p>
            <textarea name="description" placeholder="Task Description"></textarea>
            <p> Cost Estimate</p>
            <input type="text" placeholder="Task Cost Estimate">
            <button>Submit</button>
          </form>
       </div>
      </div>
  </div>
</ion-content>

