<header>
	<nav class="navbar">
		<div id="navbar">
			<div class="logo">
				<a class="logo">RACTS</a>
			</div>

			<div class="centerednav">
				<ul class="nav navbar-nav" id="navtext">
					<li><a ui-sref='landingpage.active'><i class="fa fa-home" id="navtext"></i> Active </a></li>
					<li><a ui-sref='landingpage.completed'><i class="fa fa-home"></i> Completed </a></li>
					<li><a ui-sref='landingpage.public'><i class="fa fa-home"></i> Categories </a></li>
					<li><a ui-sref='landingpage.private'><i class="fa fa-home"></i> Subscriptions </a></li>
					<li><a ng-click='logOut()'><i class="fa fa-home"></i> Log Out </a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div ui-view></div>
