<header>
	<nav class="navbar">
		<div class="container1" id="container1">
			<div class="navbar-header">
				<a class="navbar-brand">RACTS</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref='landingpage.active'><i class="fa fa-home"></i> Active </a></li>
				<li><a ui-sref='landingpage.completed'><i class="fa fa-home"></i> Completed </a></li>
				<li><a ui-sref='landingpage.public'><i class="fa fa-home"></i> Categories </a></li>
				<li><a ui-sref='landingpage.private'><i class="fa fa-home"></i> Subscriptions </a></li>
				<li><a ng-click='logOut()'><i class="fa fa-home"></i> Log Out </a></li>
			</ul>
		</div>
	</nav>
</header>

<div ui-view></div>
