<head>
<link rel="stylesheet" type="text/css" href="pages.css">
</head>

<div class="container" id="container">
  <div id="public_categories">
    Search categories here <br>
    <button> search </button>
    <div id="public_categories_results">
      results go here
      <div class="button">
        <button> favorite </button>
      </div>
    </div>
  </div>

  <div id="public_tasks">
      Search Popular tasks
    <div id="public_task_results">
      results goes here
      <div id="public_task_result_info">
        info about the task goes here
      </div>
    </div>
  </div>