
<div class="container" id="container">
  <ion-header-bar class="bar-energized">
  <h1 class="title">User Profile</h1>
  </ion-header-bar>
  <ion-content>
  <div class="card">
    <div class="item item-divider" id="heightmoniter">
      Your Tasks
    </div>
    <div id="heightmoniter">
        <active-task ng-repeat="task in tasks"></active-task>
      </div>
    <div class="card">
      <div class="item item-divider" id="private_lists">
        Your friends
      </div>
    </div>
  </div>
  </ion-content>
