<div>
	<div class="item item-text-wrap">
    <a><span ng-click="showTasks($index)"  id="private_lists"> {{available.name}}</span></a> &nbsp &nbsp &nbsp
    <button id="subscribebutton" ng-click="subscribe(available, $index)"><img id="subscribebutton" src="../../images/subscribe.png" height="25px"></button>
    <a><span ng-click="showTasks($index)"> {{available.name}}</span></a> &nbsp &nbsp &nbsp
    <button ng-click="subscribe(available, $index)">Subscribe</button>&nbsp &nbsp &nbsp
	</div>
</div>

